!!! 5
%html
  %head
    :coffee
      c = x: 1
      alert c.x + #{c.x}
  %body
    - v = 5
    - if c.x + v == 10 and [1...10].length == 9
      %strong
        - if c.x
          (v + 7) * 2 = 
          = (v + 7) * 2    
      %em(class="#{c.x + 4}")
        %strong True
        %div
          = "#{'high ' + c.x}!"
    - for i in [1...3]
      %b
        = i
  -# Skip me